:host {
  display: block;
  padding: var(--lumo-space-m) var(--lumo-space-l);
}

.content {
  display: grid;
  gap: var(--lumo-space-m);
  justify-items: end;
}

.create-post-button {
  min-width: calc(var(--lumo-button-size) * 4);
}

vaadin-grid {
  width: 100%;
}
